@import "./_includes/slideshow";

body {
  font-family: "Bitter", serif;
}

.is-mono-font {
  font-family: "Ysabeau Office", sans-serif;
}

.is-strong-font {
  font-family: "Pathway Extreme", sans-serif;
}

// Colors

$blue: #004dff;
$light-blue: #0099ff;

.has-text {
  &-blue {
    color: $blue !important;
  }
  &-light-blue {
    color: $light-blue !important;
  }
}
.has-background {
  &-blue {
    background-color: $blue !important;
  }
  &-light-blue {
    background-color: $light-blue !important;
  }
}

// Specifics and IDs

#headline {
  &-image {
    background: linear-gradient(to top, #1504fd, #0453fddb, #077cfa9b),
      url(../img/people-coding.jpg) no-repeat top center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    padding: 0;
  }
}

.headline-text {
  text-shadow: 2px 2px rgb(0, 29, 133);
}

.curved {
  position: relative;
  background: linear-gradient(to top, #e7e7e7bd, #ffffff16);
  height: 50vh;
}

.curved::after {
  content: "";
  border-top-left-radius: 45% 100%;
  border-top-right-radius: 45% 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $blue;
  height: 44%;
}

.animated-svg {
  position: relative;
  top: 0;
  left: 0;
}

.is-curved-button {
  border-radius: 50px;
}

#footer {
  background: linear-gradient(to top, #14378a, #004cff);
}

#animated-svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#loader-wrapper {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $light-blue;
    width: 100vw;
    height: 100vh;
    z-index: 1050;
}

#loader-wrapper.loaded {
  display: none;
}

#loader {
    display: block;
    position: relative;
    top: 35%;
    left: 50%;
    width: 100px;
    height: 100%;
    z-index: 1500;
  }

  .loaded #loader {
    opacity: 0;
  }
  
  .loaded #loader-wrapper {
    visibility: hidden;
  }
  
  .loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .loaded #loader-wrapper .loader-section.section-right,
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
  }
  
  .loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  
    -webkit-transition: all 0.3s 0.6s ease-out;
    transition: all 0.3s 0.6s ease-out;
  }