<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}}
    <meta
      name="description"
      content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}"
    />
    <meta
      property="og:title"
      content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}"
    />
    <meta
      property="og:type"
      content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}"
    />
    <meta
      property="og:url"
      content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}"
    />
    <meta
      property="og:image"
      content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}"
    />
    <meta
      property="og:description"
      content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}"
    />
    <meta
      name="twitter:card"
      content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}"
    />
    <meta
      name="twitter:site"
      content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}"
    />
    <meta
      name="twitter:creator"
      content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}"
    />

    <link rel="stylesheet" href='{{ "/css/preloader.css" | relURL }}' />
  </head>

  <body>
    <div class="preloader">
      <svg
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="#343C54"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 16.6944 7.30558 20.5 12 20.5C16.6944 20.5 20.5 16.6944 20.5 12C20.5 11.5858 20.8358 11.25 21.25 11.25C21.6642 11.25 22 11.5858 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.4142 2 12.75 2.33579 12.75 2.75C12.75 3.16421 12.4142 3.5 12 3.5Z"
          fill="#343C54"
        />
      </svg>
    </div>
    {{- partial "alert.html" . -}} {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
      <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}} {{- partial "strip.html" . -}}

    <hr />
    <div class="partners p-8">
      <h2 class="text-4xl ml-2 text-center">Our Partners</h2>
      <ul class="flex flex-wrap justify-center items-center">
        <li class="border p-6 m-3 rounded text-center">
          <a href="https://web.facebook.com/itecheducationng/?_rdc=1&_rdr">
            <p>iTech</p>
            <img
              src="/img/partners/itech-logo.jpg"
              alt="Itech Logo"
              width="50rem"
            />
          </a>
        </li>
        <li class="border p-6 m-3 rounded text-center">
          <a
            href="https://flawless-computer-technology.business.site/?utm_source=gmb&utm_medium=referral"
          >
            <p>Flawless Computer Technologies</p>
            <img
              src="/img/partners/flawless-logo.png"
              alt="Flawless Computer Technologies"
              width="200rem"
            />
          </a>
        </li>
        <li class="border p-6 m-3 rounded text-center">
          <a href="http://www.abutechacademy.com.ng/">
            <p>Abutech</p>
            <img
              src="/img/partners/abutech-logo.jpg"
              alt="Abutech Logo"
              width="60rem"
            />
          </a>
        </li>
      </ul>
    </div>

    {{ if ne .Site.Params.showBlog false }}
    <div class="mx-auto my-10 max-w-6xl">
      <center>
        <h2 class="text-4xl ml-2">Come Learn with Us</h2>
      </center>
      {{- partial "recent.html" . -}}
    </div>
    {{ end }} {{- partial "footer.html" . -}}
    <script>
      const preloader = document.querySelector(".preloader");
      window.addEventListener("load", () => {
        preloader.classList.add("hidden"); // Hide preloader on page load
      });
    </script>
    <script src='{{ "/js/swiper-bundle.min.js" | relURL }}'></script>
    <script>
      var mySwiper = new Swiper(".swiper-container", {
        direction: "horizontal",
        loop: true,
        speed: 550,
        autoplay: {
          delay: 6000,
        },
        pagination: {
          el: ".swiper-pagination",
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </body>
</html>
