.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Change background color if needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure preloader is on top of other elements */
}

.preloader svg {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloader.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; /* Prevent interaction with content while hidden */
}
