.slideshow-img {
  border-radius: 50281290px;
  filter: drop-shadow(5px 5px 10px #000000b4);
  
  &-wrapper {
    padding: 12px;
    background: rgb(11,2,158);
    background: radial-gradient(circle, rgba(11,2,158,1) 8%, rgba(9,9,121,1) 91%, rgba(0,212,255,1) 100%);
    border-radius: 502890px;

  }
}
