<form name="course-reg" action="https://getform.io/f/a5a22b05-0b05-407e-996f-7485bc607804" method="POST">
    <div class="input">
        <input type="text" placeholder="Name" name="name" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <input type="text" placeholder="Email" name="mail" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <input type="tel" placeholder="Phone Number" name="phone-number" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <textarea rows="5" cols="30" placeholder="Comments" name="message" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
    </div>
    <!-- Hidden Fields -->
    <div class="input">
        <input type="text" value='{{ .Page.Title }}' name="courseTitle" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" hidden aria-hidden="true">
    </div>
    <div class="input">
        <input type="url" value='{{ .Page.Permalink }}' name="courseUrl" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" hidden aria-hidden="true">
    </div>
    <!-- Submit Button -->
    <input type="submit" value="Submit" class="px-8 py-2 duration-200 bg-gray-800 text-white cursor-pointer transition-colors hover:bg-gray-400">
</form>