<!DOCTYPE html>
<html lang="ja">
  <head>
    {{- partial "head.html" . -}} {{ block "meta_tags" . }}{{end}}
  </head>

  <body class="flex flex-col min-h-screen">
    <main class="flex-grow">
      {{- partial "header.html" . -}}
      <a href="https://wa.me/+2348062694891" target="_blank">
        <div class="chat-whatsapp">
          <span>Chat Us on WhatsApp</span>
        </div>
      </a>

      <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-xl"></span>
      </div>

      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
